<div class="container mat-elevation-z8">
    <form [formGroup]="requiredForm" (ngSubmit)="register(registrationForm.value)" #registrationForm="ngForm">
      <mat-form-field appearance="fill" class="purpose">
        <mat-label>Register as a:</mat-label>
        <mat-select #role name="role" formControlName="role">
          <mat-option *ngFor="let user of user" [value]="user.value">
            {{user.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-group" autocomplete="off">
        <label for="code">Registration Code:</label>
        <input
        required
        autocomplete="off"
        name="code"
        id="code"
        type="text"
        class="form-control"
        formControlName="code"
        minlength="3"
        placeholder="Ex. 3Df54r">
      </div>
      <div *ngIf="requiredForm.controls['code'].invalid && requiredForm.controls['code'].touched" class="alert alert-danger">
        <div *ngIf="requiredForm.controls['code'].errors.required">
          Code is required.
        </div>
        <div *ngIf="requiredForm.controls['code'].errors.minlength">
          Must be more than 3 characters.
        </div>
        <div *ngIf="requiredForm.controls['code'].errors.minlength">
          Must be more than 3 characters.
        </div>
      </div>
      <div class="form-group" autocomplete="off">
        <label for="school_id">Sr-Code/ID Number:</label>
        <input
        autocomplete="off"
        name="school_id"
        id="school_id"
        type="text"
        class="form-control"
        formControlName="school_id"
        minlength="6"
        placeholder="Ex. 18-00000">
      </div>
      <div *ngIf="requiredForm.controls['school_id'].invalid && requiredForm.controls['school_id'].touched" class="alert alert-danger">
        <div *ngIf="requiredForm.controls['school_id'].errors.required">
          Sr-Code/ID Number is required.
        </div>
        <div *ngIf="requiredForm.controls['school_id'].errors.minlength">
          Must be more than 6 characters.
        </div>
      </div>
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input
        name="first_name"
        id="first_name"
        type="text"
        class="form-control"
        formControlName="first_name"
        minlength="3"
        placeholder="Ex. Juan"
        >
      </div>
      <div *ngIf="requiredForm.controls['first_name'].invalid && requiredForm.controls['first_name'].touched" class="alert alert-danger">
        <div *ngIf="requiredForm.controls['first_name'].errors.required">
          First Name is required.
        </div>
        <div *ngIf="requiredForm.controls['first_name'].errors.minlength">
          Must be more than 3 characters.
        </div>
        <div *ngIf="requiredForm.controls['first_name'].errors.pattern">
          Must not contain numbers or special characters.
        </div>
      </div>
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input
        name="last_name"
        id="last_name"
        type="text"
        class="form-control"
        formControlName="last_name"
        minlength="3"
        placeholder="Ex. Cruz">
      </div>
      <div *ngIf="requiredForm.controls['last_name'].invalid && requiredForm.controls['last_name'].touched" class="alert alert-danger">
        <div *ngIf="requiredForm.controls['last_name'].errors.required">
          Last Name is required.
        </div>
        <div *ngIf="requiredForm.controls['last_name'].errors.minlength">
          Must be more than 3 characters.
        </div>
        <div *ngIf="requiredForm.controls['last_name'].errors.pattern">
          Must not contain numbers or special characters.
        </div>
      </div>
      <div class="form-group">
        <label for="middle_name">Middle Name:</label>
        <input
        name="middle_name"
        id="middle_name"
        type="text"
        class="form-control"
        class="form-control"
        formControlName="middle_name"
        placeholder="Ex. Dela">
      </div>
      <div *ngIf="requiredForm.controls['middle_name'].invalid && requiredForm.controls['middle_name'].touched" class="alert alert-danger">
        <div *ngIf="requiredForm.controls['middle_name'].errors.required">
          Middle Name is required.
        </div>
        <div *ngIf="requiredForm.controls['middle_name'].errors.pattern">
          Must not contain numbers or special characters.
        </div>
      </div>
      <div class="form-group">
        <label for="university">University / College:</label>
        <input
        name="university"
        id="university"
        type="text"
        class="form-control"
        formControlName="university"
        minlength="3"
        placeholder="Ex. Batangas State University">
      </div>
      <div *ngIf="requiredForm.controls['university'].invalid && requiredForm.controls['university'].touched" class="alert alert-danger">
        <div *ngIf="requiredForm.controls['university'].errors.required">
          University is required.
        </div>
        <div *ngIf="requiredForm.controls['university'].errors.minlength">
          Must be more than 3 characters.
        </div>
      </div>
      <div class="form-group">
        <label for="department">Department:</label>
        <input
        name="department"
        id="department"
        type="text"
        class="form-control"
        formControlName="department"
        minlength="3"
        placeholder="Ex. CICS">
      </div>
      <div *ngIf="requiredForm.controls['department'].invalid && requiredForm.controls['department'].touched" class="alert alert-danger">
        <div *ngIf="requiredForm.controls['department'].errors.required">
          Department is required.
        </div>
        <div *ngIf="requiredForm.controls['department'].errors.minlength">
          Must be more than 3 characters.
        </div>
      </div>
      <div class="form-group">
        <label for="program">Program:</label>
        <input
        name="program"
        id="program"
        type="text"
        class="form-control"
        formControlName="program"
        minlength="3"
        placeholder="Ex. BS-IT">
      </div>
      <div *ngIf="requiredForm.controls['program'].invalid && requiredForm.controls['program'].touched" class="alert alert-danger">
        <div *ngIf="requiredForm.controls['program'].errors.required">
          Program is required.
        </div>
        <div *ngIf="requiredForm.controls['program'].errors.minlength">
          Must be more than 3 characters.
        </div>
      </div>
      <div class="form-group" autocomplete="off">
        <label for="password">Password:</label>
        <input
        autocomplete="off"
        name="password"
        id="password"
        type="password"
        class="form-control"
        formControlName="password"
        minlength="8"
        placeholder="Ex. 000xxx">
      </div>
      <div *ngIf="requiredForm.controls['password'].invalid && requiredForm.controls['password'].touched" class="alert alert-danger">
        <div *ngIf="requiredForm.controls['password'].errors.required">
          Password is required.
        </div>
        <div *ngIf="requiredForm.controls['password'].errors.minlength">
          Must be at least 8 characters.
        </div>
        <div *ngIf="requiredForm.controls['password'].errors.pattern">
          Must contain at least 1 number, special characters, and capital letter.
        </div>
      </div>
      <div class="form-group" autocomplete="off">
        <label for="confirmPassword">Confirm Password:</label>
        <input
        autocomplete="off"
        required
        name="confirmPassword"
        id="confirmPassword"
        type="password"
        class="form-control"
        formControlName="confirmPassword"
        minlength="8"
        placeholder="Ex. 000xxx">
      </div>
      <div *ngIf="requiredForm.controls['confirmPassword'].invalid && requiredForm.controls['confirmPassword'].touched" class="alert alert-danger">
        <div *ngIf="requiredForm.controls['confirmPassword'].errors.required">
          Confirm password is required.
        </div>
        <div *ngIf="requiredForm.controls['confirmPassword'].errors.minlength">
          Must be at least 8 characters.
        </div>
        <div *ngIf="requiredForm.controls['confirmPassword'].errors.pattern">
          Must contain at least 1 number, special characters, and capital letter.
        </div>
        <div *ngIf="requiredForm.controls['confirmPassword'].value !== requiredForm.controls['password'] && requiredForm.controls['confirmPassword'].touched">
          Password and confirm password does not match.
        </div>
      </div>
        <button type="submit" [disabled]="!requiredForm.valid">Register</button>
      </form>

</div>
<div class="right">
  <img class="img" src="assets/register.png">
</div>
