<div class="container mat-elevation-z8">
  <form (ngSubmit)="register(registrationForm.value)" #registrationForm="ngForm">
    <mat-form-field appearance="fill" class="purpose">
      <mat-label>Register as a:</mat-label>
      <mat-select ngModel #role name="role">
        <mat-option *ngFor="let user of user" [value]="user.value">
          {{user.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-group" autocomplete="off">
      <label for="code">Registration Code:</label>
      <input
      autocomplete="off"
      required
      ngModel
      name="code"
      #code="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Ex. 3Df54r">
    </div>
    <div class="alert alert-danger" *ngIf="code.touched && !code.valid">
      <div *ngIf="code.errors?.required">Code is required.</div>
    </div>
    <div class="form-group">
      <label for="name">First Name:</label>
      <input
      required
      ngModel
      name="first_name"
      #first_name="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Ex. Juan">
    </div>
    <div class="alert alert-danger" *ngIf="first_name.touched && !first_name.valid">
      <div *ngIf="first_name.errors?.required">first name is required.</div>
    </div>
    <div class="form-group">
      <label for="name">Last Name:</label>
      <input
      required
      ngModel
      name="last_name"
      #last_name="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Ex. Cruz">
    </div>
    <div class="alert alert-danger" *ngIf="last_name.touched && !last_name.valid">
      <div *ngIf="last_name.errors?.required">last name is required.</div>
    </div>
    <div class="form-group">
      <label for="name">Middle Name:</label>
      <input
      required
      ngModel
      name="middle_name"
      #middle_name="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Ex. Dela">
    </div>
    <div class="alert alert-danger" *ngIf="middle_name.touched && !middle_name.valid">
      <div *ngIf="middle_name.errors?.required">Name is required.</div>
    </div>
    <div class="form-group">
      <label for="university">University / College:</label>
      <input
      required
      ngModel
      minlength="6"
      name="university"
      #university="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Ex. Batangas State University">
    </div>
    <div class="alert alert-danger" *ngIf="university.touched && !university.valid">
      <div *ngIf="university.errors?.required">University is required.</div>
    </div>
    <div class="form-group">
      <label for="department">Department:</label>
      <input
      required
      ngModel
      name="department"
      #department="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Ex. CICS">
    </div>
    <div class="alert alert-danger" *ngIf="department.touched && !department.valid">
      <div *ngIf="department.errors?.required">Department is required.</div>
    </div>
    <div class="form-group">
      <label for="program">Program:</label>
      <input
      required
      ngModel
      name="program"
      #program="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Ex. BS-IT">
    </div>
    <div class="alert alert-danger" *ngIf="program.touched && !program.valid">
      <div *ngIf="program.errors?.required">Program is required.</div>
    </div>
    <div class="form-group" autocomplete="off">
      <label for="school_id">Sr-Code/ID Number:</label>
      <input
      autocomplete="off"
      required
      ngModel
      name="school_id"
      #school_id="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Ex. 18-00000">
    </div>
    <div class="alert alert-danger" *ngIf="school_id.touched && !school_id.valid">
      <div *ngIf="school_id.errors?.required">Sr-Code is required.</div>
    </div>
    <div class="form-group" autocomplete="off">
      <label for="password">Password:</label>
      <input
      autocomplete="off"
      required
      ngModel
      minlength="6"
      name="password"
      #password="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Ex. 000xxx">
    </div>
    <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
      <div *ngIf="password.errors?.required">Password is required.</div>
      <div *ngIf="password.errors?.minlength">Password must be {{ password.errors?.minlength?.requiredLength }} characters long.</div>
    </div>
    <div class="form-group" autocomplete="off">
      <label for="confirmPassword">Confirm Password:</label>
      <input
      autocomplete="off"
      required
      ngModel
      minlength="6"
      name="confirmPassword"
      #confirmPassword="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Ex. 000xxx">
    </div>
    <div class="alert alert-danger" *ngIf="confirmPassword.touched && !confirmPassword.valid || (confirmPassword.value !== password.value && !confirmPassword.value)">
      <div *ngIf="confirmPassword.errors?.required">Password is required.</div>
      <div *ngIf="confirmPassword.errors?.minlength">Password must be {{ password.errors?.minlength?.requiredLength }} characters long.</div>
      <div *ngIf="confirmPassword.value !== password.value && !confirmPassword.value">Password do not match</div>
    </div>

  <button type="submit">Register</button>
</form>
</div>
<div class="right">
  <img class="img" src="assets/register.png">
</div>
