<div class="log">
  <div class="form-group">
    <label for="srcode">Sr-Code/ID Number:</label>
    <input
    required
    ngModel
    name="srcode"
    #srcode="ngModel"
    id="srcode"
    type="text"
    class="form-control"
    placeholder="Ex. 18-00000">
    <a><button class="search"><mat-icon>search</mat-icon></button></a>
  </div>
  <div class="alert alert-danger" *ngIf="srcode.touched && !srcode.valid">
    <div *ngIf="srcode.errors?.required"> Input Sr-Code.</div>
  </div>
  <div class="form-group">
    <label for="department">Name:</label>
    <input
    name="name"
    id="name"
    type="text"
    class="form-control"
    disabled>
  </div>
  <div class="form-group">
    <label for="department">Department:</label>
    <input
    name="department"
    id="department"
    type="text"
    class="form-control"
    disabled>
  </div>
  <mat-form-field appearance="fill" class="dropdown">
    <mat-label>Purpose</mat-label>
    <mat-select>
      <mat-option *ngFor="let purpose of purpose" [value]="purpose.value">
        {{purpose.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="dropdown">
    <mat-label>Complaint</mat-label>
    <mat-select>
      <mat-option *ngFor="let complaint of complaint" [value]="complaint.value">
        {{complaint.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn1">
    <button class="cancel">Cancel</button>
  </div>
  <div class="btn2">
    <button class="update">Update Log</button>
  </div>
</div>
