<div class="log" [formGroup]="editLog">
  <div class="form-group">
    <label for="school_id">Sr-Code/ID Number:</label>
    <input
    required
    formControlName="school_id"
    name="school_id"
    id="school_id"
    type="text"
    class="form-control"
    placeholder="Ex. 18-00000">
    <a><button class="search" (click)="search()"><mat-icon>search</mat-icon></button></a>
  </div>
  <div class="form-group">
    <label for="department">First Name:</label>
    <input
    [value]="first_name"
    name="first_name"
    id="first_name"
    type="text"
    class="form-control"
    disabled>
  </div>
  <div class="form-group">
    <label for="department">Last Name:</label>
    <input
    [value]="last_name"
    name="last_name"
    id="last_name"
    type="text"
    class="form-control"
    disabled>
  </div>
  <div class="form-group">
    <label for="department">Middle Name:</label>
    <input
    [value]="middle_name"
    name="middle_name"
    id="middle_name"
    type="text"
    class="form-control"
    disabled>
  </div>
  <div class="form-group">
    <label for="department">Department:</label>
    <input
    [value]="department"
    name="department"
    id="department"
    type="text"
    class="form-control"
    disabled>
  </div>
  <mat-form-field appearance="fill" class="dropdown">
    <mat-label>Purpose</mat-label>
    <mat-select formControlName="purpose">
      <mat-option *ngFor="let purpose of purpose" [value]="purpose.value">
        {{purpose.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="dropdown">
    <mat-label>Complaint</mat-label>
    <mat-select formControlName="complaint">
      <mat-option *ngFor="let complaint of complaint" [value]="complaint.value">
        {{complaint.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="dropdown">
    <mat-label>Medicine</mat-label>
    <mat-select formControlName="medicine">
      <mat-option *ngFor="let medicine of medicines" [value]="medicine.value">
        {{medicine.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn1">
    <button class="cancel" (click)="cancel()">Cancel</button>
  </div>
  <div class="btn2">
    <button class="update" (click)="updateLogUniversity()">Update Log</button>
  </div>
</div>
