.warning {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 30px;
  border: 2px solid red;
}
h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;
}
p {
  text-align: center;
  font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;
}
