<div class="generator mat-elevation-z8">
    <div class="head">
      <h1 class="header">Generate Codes</h1>
      <h3>Create codes for the stakeholder's registration.</h3>
      <app-generate-code></app-generate-code>
    </div>
</div>

<div class="table mat-elevation-z8" id="table">
  <div class="h1">
    <h1>Generated Codes</h1>
  </div>
  <button class="print-btn" mat-raised-button
    [useExistingCss]="true"
    printSectionId="table"
    ngxPrint>
  <mat-icon>print</mat-icon>Print</button>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID no. /Sr-Code</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Codes Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
      <td mat-cell *matCellDef="let row">{{row.code}}</td>
    </ng-container>

    <!-- Roles Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
      <td mat-cell *matCellDef="let row">{{row.role}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
