.log {
  padding: 10px;
}
.purpose {
  margin-top: 4%;
  width: 100%;
}
#srcode{
  display: inline-block;
  float:inline-start;
  width: 85%;
}
.search {
  display: inline-block;
  float: inline-end;
  width: 12%;
  height: 100%;
  background-color: #51cbce;
  height: inherit;
  border: none;
  border-radius: 10px;
}
.btn {
  border: none;
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: 100%;
  background-color: rgb(52, 52, 160);
}
