<div class="table mat-elevation-z8">
  <h1>Ongoing Logs</h1>
  <div class="create">
    <button mat-raised-button (click)="onCreate()" color="primary">
      <mat-icon class="add">add_circle_outline</mat-icon> Create Log
    </button>
  </div>
  <div class="table-container">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Sr-Code Column -->
    <ng-container  matColumnDef="school_id">
      <th mat-header-cell *matHeaderCellDef >ID no. / Sr Code</th>
      <td mat-cell *matCellDef="let row">{{row.school_id_placeholder}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let row">{{row.department_placeholder}}</td>
    </ng-container>

    <!-- Purpose Column -->
    <ng-container matColumnDef="purpose">
      <th mat-header-cell *matHeaderCellDef>Purpose</th>
      <td mat-cell *matCellDef="let row">{{row.purpose}}</td>
    </ng-container>

    <!-- Medicine Column -->
    <ng-container matColumnDef="medicine">
      <th mat-header-cell *matHeaderCellDef>Medicine</th>
      <td mat-cell *matCellDef="let row"><a (click)="onMedicine(row)"><mat-icon class="medicine">add_circle</mat-icon></a></td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Modify</th>
      <td mat-cell *matCellDef="let row"><a (click)="onEdit(row)"><mat-icon class="edit">edit</mat-icon></a></td>
    </ng-container>

    <!-- Terminate Column -->
    <ng-container matColumnDef="terminate">
      <th mat-header-cell *matHeaderCellDef>Terminate</th>
      <td mat-cell *matCellDef="let row"><a (click)="onTerminate(row)"><mat-icon class="terminate">highlight_off</mat-icon></a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
