<div class="dashboard">
<div class="number-cards">
  <ngx-charts-number-card
    [results]="stakeholders"
    [cardColor]="cardColor"
    class="cards">
  </ngx-charts-number-card>
</div>
<div class="container">
  <div class="chart mat-elevation-z8">
    <table class="bar-chart">
      <div class="container">
        <div class="header">
          <h1>Purpose of Visit</h1>
        </div>
        <div class="date">
          <date-picker (dateSelected)="purposeRequest($event)"></date-picker>
        </div>
      </div>
      <ngx-charts-bar-vertical
        [view] = "view"
        [roundEdges]="false"
        [results]="purpose"
        [xAxis] = "xAxis"
        [yAxis] = "yAxis"
        [showXAxisLabel] = "showXAxisLabel"
        [showYAxisLabel] = "showYAxisLabel"
        [legendTitle] = "alegendTitle"
        [legend] = "legend"
        [legendPosition] = "right"
        [showGridLines] = "showGridLines"
        [showDataLabel] = "showDataLabel">
      </ngx-charts-bar-vertical>
    </table>
  </div>

<div class="chart mat-elevation-z8">
  <table class="line-chart">
    <div class="container">
      <div class="header">
        <h1>Monthly Complaints</h1>
      </div>
      <div class="date">
        <date-picker-yearly (yearlyDateChanged)="monthlyComplaintsChangeYear($event)"></date-picker-yearly>
      </div>
    </div>
    <tr>
      <td>
        <ngx-charts-line-chart
          [results]="complaintsMulti"
          [view] = "view"
          [xAxis] = "xAxis"
          [yAxis] = "yAxis"
          [showXAxisLabel] = "showXAxisLabel"
          [showYAxisLabel] = "showYAxisLabel"
          [legendTitle] = "legendTitle"
          [legend] = "legend"
          [legendPosition] = "right"
          [showGridLines] = "showGridLines">
        </ngx-charts-line-chart>
      </td>
    </tr>
  </table>
</div>
</div>
</div>
