.dashboard {
  display: block;
  width: 95%;
  height: 90%;
}
.container {
  width: 100%;
}
.header {
  text-align: center;
  float: left;
}
h1 {
  font-size: 18px;
}
.date {
  float: right;
}
.bar-chart {
  width: 100%;
}
.chart {
  width: 96%;
  padding: 20px;
  border-radius: 10px;
  margin: 2%;
  align-items: center;
  display: flex;
  overflow: auto;
}
ngx-charts-number-card {
  text-transform: uppercase;
  font-weight: 500;
}
.number-cards {
  height: 200px;
  margin: 2%;
}

@media only screen
  and (min-device-width : 360px)
  and (max-device-width : 1024px) {
    .container {
      width: 100%;
    }
    .chart {
      overflow: auto;
      white-space: nowrap;
    }
    .number-cards {
      height: 300px;
    }
    }

