<div class="log" [formGroup]="createLog">
  <div class="form-group">
    <mat-form-field appearance="fill" class="purpose">
      <mat-label>Type of Non-University Personnel</mat-label>
      <mat-select>
        <mat-option *ngFor="let type of type" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <label for="name">First Name:</label>
    <input
    formControlName = "first_name"
    required
    id="name"
    type="text"
    class="form-control"
    placeholder="Ex. Juan Dela Cruz">
  </div>
  <div class="form-group">
    <label for="name">Last Name:</label>
    <input
    formControlName = "last_name"
    required
    id="name"
    type="text"
    class="form-control"
    placeholder="Ex. Juan Dela Cruz">
  </div>
  <div class="form-group">
    <label for="name">Middle Name:</label>
    <input
    formControlName = "middle_name"
    required
    id="name"
    type="text"
    class="form-control"
    placeholder="Ex. Juan Dela Cruz">
  </div>
  <div class="form-group">
    <label for="name">Address:</label>
    <input
    required
    formControlName="address"
    id="name"
    type="text"
    class="form-control"
    placeholder="Ex. Alangilan">
  </div>
  <mat-form-field appearance="fill" class="purpose">
    <mat-label>Purpose</mat-label>
    <mat-select formControlName="purpose">
      <mat-option *ngFor="let purpose of purpose" [value]="purpose.value">
        {{purpose.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="dropdown">
    <mat-label>Complaint</mat-label>
    <mat-select formControlName="complaint">
      <mat-option *ngFor="let complaint of complaint" [value]="complaint.value">
        {{complaint.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn1">
    <button class="cancel">Cancel</button>
  </div>
  <div class="btn2">
    <button class="create" (click)="create()">Create Log</button>
  </div>
</div>
