<div class="container">
  <div class="left">
    <div class="row">
      <div class="column">
        <mat-icon>business_center</mat-icon>
        <h2>Work Systematically</h2>
        <p>
         Digitize your working processes and maximize your performance.
        </p>
      </div>
      <div class="column">
        <mat-icon>analytics</mat-icon>
        <h2>Graphical Representations</h2>
        <p>
          Graph the data for closer observations of the health of your stakeholders.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-icon>login</mat-icon>
        <h2>Register Online</h2>
        <p>
          Register online as a student, facult, and staff using user friendly forms.
        </p>
      </div>
      <div class="column">
        <mat-icon>directions_run</mat-icon>
        <h2>Increase Performance</h2>
        <p>
          Increase the performance of the clinic personnel by automation and digitalization.
        </p>
      </div>
    </div>
  </div>
  <div class="right">
    <img class="logo" src="../../assets/logo.png">
    <h2 class="register">Fill up the forms and register online.</h2>
    <a href="/home"><button class="btn">LOGIN NOW</button></a>
  </div>
</div>
