.container {
  margin: 0%;
  padding: 0%;
}
.user-type {
  background-color: white;
  width: 28%;
  float: left;
  margin-top: 4%;
  margin-left: 4%;
  border-radius: 10px;
  padding: 20px;
}
.head {
  width: 100%;
  text-align: center;
}
.img {
  height: 100px;
}
.header {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.57em;
  line-height: 1.4em;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #51cbce;
  font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;
}
h1 {
  font-size: 18px;
}
h3 {
  color: #9a9a9a;
  font-weight: 300;
}
.info {
  background-color: white;
  width:60%;
  float: right;
  margin-top: 4%;
  margin-right: 4%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px;
}
.info-header {
  font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}
.form-group {
  padding-bottom: 10px;
}
label {
  color: #9a9a9a;
  font-size: .8571em;
  margin-bottom: 5px;
  font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;
}
input {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #66615b;
  font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
}
.btn {
  width: 100%;
}
button {
  border: none;
  border-width: 1px;
  border-radius: 30px;
  padding-right: 23px;
  padding-left: 23px;
}
.update {
  background-color: #51cbce;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.35em;
  padding: 11px 22px;
  text-align: center;
  letter-spacing: 1px;
  font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;
}
.generator {
  background-color: white;
  width: 28%;
  float: left;
  margin-top: 4%;
  margin-left: 4%;
  border-radius: 10px;
  padding: 20px;
}
@media only screen
  and (min-device-width : 300px)
  and (max-device-width : 780px) {
    .user-type {
      width: 90%;
    }
    .info {
      width: 90%;
      float: left;
      margin-left: 4%;
    }
    .generator {
      width: 90%;
    }
  }
