<div class="container">
  <div class="user-type mat-elevation-z8">
    <div class="head">
      <img class="img" src="assets/head-admin.png">
      <h1 class="header">head admin</h1>
      <h3>Put Name Of School Here!</h3>
    </div>
  </div>
  <div class="info mat-elevation-z8">
    <h1 class="info-header">Account Information</h1>
    <div class="form-group">
      <label for="srcode">Sr-Code/ID Number:</label>
      <input
      required
      ngModel
      name="srcode"
      #srcode="ngModel"
      id="srcode"
      type="text"
      class="form-control"
      placeholder="18-00000"
      disabled>
    </div>
    <div class="form-group">
      <label for="name">First Name:</label>
      <input
      required
      ngModel
      name="name"
      #name="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Juan"
      disabled>
    </div>
    <div class="form-group">
      <label for="name">Last Name:</label>
      <input
      required
      ngModel
      name="name"
      #name="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Cruz"
      disabled>
    </div>
    <div class="form-group">
      <label for="name">Middle Name:</label>
      <input
      ngModel
      name="name"
      #name="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Dela"
      disabled>
    </div>
    <div class="form-group">
      <label for="department">Department:</label>
      <input
      ngModel
      name="department"
      #department="ngModel"
      id="department"
      type="text"
      class="form-control"
      placeholder="CICS"
      disabled>
    </div>
    <div class="btn">
      <button class="update" mat-raised-button (click)="onCreate()">Update Profile</button>
    </div>
  </div>
</div>
