.table {
  width: 90%;
  float: right;
  margin-right: 5%;
  background-color: white;
  padding: 2%;
  border-radius: 10px;
}
.full-width-table {
  width: 100%;
  align-items: center;
}
.date {
  margin-top: 0%;
  float: left;
}
.print-btn {
  background-color: #51cbce;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  float: right;
  margin-top: 2%;
}
mat-icon {
  color: white;
  font-size: 25px;
  display: inline-block;
  line-height: .4em;
  margin-right: 10px;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding-right: 20px;
}
table {
  border-spacing: 2px;
}
th {
  color: #51cbce;
  font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  border-top: 1px solid #dee2e6;
}
td {
  font-family: Montserrat,"Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
@media only screen
  and (min-device-width : 300px)
  and (max-device-width : 1024px) {
    .table {
      width: 95%;
      margin: 2.5%;
      overflow: auto;
      white-space: nowrap;
    }
    }
