<div class="log" [formGroup]="createLog">
  <div class="form-group">
    <label for="school_id">Sr-Code/ID Number:</label>
    <input
    required
    name="school_id"
    id="school_id"
    type="text"
    class="form-control"
    formControlName="student_id"
    placeholder="Ex. 18-00000">
    <a><button class="search" (click)="search()"><mat-icon>search</mat-icon></button></a>
  </div>
  <div class="alert alert-danger" *ngIf="student_id.touched && !student_id.valid">
    <div *ngIf="student_id.errors?.required"> Input Sr-Code.</div>
  </div>
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input
    [value] = "first_name"
    name="first_name"
    id="first_name"
    type="text"
    class="form-control"
    disabled>
  </div>
  <div class="form-group">
    <label for="last_name">Last Name:</label>
    <input
    [value] = "last_name"
    name="last_name"
    id="last_name"
    type="text"
    class="form-control"
    disabled>
  </div>
  <div class="form-group">
    <label for="middle_name">Middle Name:</label>
    <input
    [value] = "middle_name"
    name="middle_name"
    id="middle_name"
    type="text"
    class="form-control"
    disabled>
  </div>
  <div class="form-group">
    <label for="department">Department:</label>
    <input
    [value] = "department"
    name="department"
    id="department"
    type="text"
    class="form-control"
    disabled>
  </div>
  <mat-form-field appearance="fill" class="dropdown">
    <mat-label>Purpose</mat-label>
    <mat-select formControlName="purpose" required>
      <mat-option *ngFor="let purpose of purpose" [value]="purpose.value">
        {{purpose.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="dropdown">
    <mat-label>Complaint</mat-label>
    <mat-select formControlName="complaint" required>
      <mat-option *ngFor="let complaint of complaint" [value]="complaint.value">
        {{complaint.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn1">
    <button class="cancel" (click)="cancel()">Cancel</button>
  </div>
  <div class="btn2">
    <button class="create" (click)="create()" [disabled]="!isCreateActive">Create Log</button>
  </div>
</div>
