<div class="content-1">
  <div class="login-container">

    <h1>Digital Logbook Management</h1>
    <h1>And Data Visualization</h1>
    <h3>For Universities and Colleges</h3>

    <form class="login-form" (ngSubmit)="login(loginForm.value)" #loginForm="ngForm">
      <div class="form-group">
        <mat-form-field class="form-input">
          <mat-label>University: </mat-label>
          <input
          required
          ngModel
          name="university"
          #university="ngModel"
          id="university"
          matInput
          placeholder="Ex. Sample University">
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="university.touched && !university.valid">
          <div *ngIf="university.errors?.required">University is required.</div>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="form-input">
          <mat-label>Sr-Code:</mat-label>
          <input
          required
          minlength="8"
          ngModel
          name="schoolId"
          #schoolId="ngModel"
          id="schoolId"
          matInput
          placeholder="Ex. 21-00000">
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="schoolId.touched && !schoolId.valid">
          <div *ngIf="schoolId.errors?.required">Sr-Code is required.</div>
          <div *ngIf="schoolId.errors?.minlength">Name must be {{ schoolId.errors?.minlength?.requiredLength }} characters long with "-".</div>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="form-input">
          <mat-label>Password:</mat-label>
          <input
          required
          ngModel
          name="password"
          #password="ngModel"
          id="password"
          type="text"
          matInput placeholder="Ex. 000xxx">
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors?.required">Password is required.</div>
        </div>
      </div>
      <button class="button" mat-button type="submit" [disabled]="false">Login</button>
    </form>
  </div>
  <div class="container">
    <img class="img" src="assets/home.png">
  </div>

</div>
