<div class="container" [formGroup]="codeGroup">
  <div class="select">
    <mat-form-field appearance="fill" class="purpose" >
      <mat-label>Generate Codes For:</mat-label>
      <mat-select name="role" formControlName="role">
        <mat-option *ngFor="let code_type of code_type" [value]="code_type" >
          {{code_type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="amount">
    <input
    formControlName="number_of_codes"
      class="number"
      mdInput
      type="number"
      id="myNumber"
      placeholder="Number of Codes"
    />
  </div>
  <div class="generate">
    <button class="generate-btn" type="button" (click)="generateCode()">Generate Codes</button>
  </div>
</div>
