<div class="container">
  <h1> Code Generator</h1>
  <div class="select">
    <mat-form-field appearance="fill" class="purpose">
      <mat-label>Generate Codes For:</mat-label>
      <mat-select ngModel #role name="role">
        <mat-option *ngFor="let code_type of code_type" [value]="code_type">
          {{code_type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="amount">
    <input
      class="number"
      mdInput
      type="number"
      id="myNumber"
      placeholder="Number of Codes"
    />
  </div>
  <div class="generate">
    <button class="generate-btn" type="submit">Generate Codes</button>
  </div>
</div>
