<div class="container">
  <div class="user-type mat-elevation-z8">
    <div class="head">
      <img class="img" src="assets/staff-icon.png">
      <h1 class="header">staff</h1>
      <h3>Put Name Of School Here!</h3>
    </div>
  </div>
  <div class="info mat-elevation-z8">
    <h1 class="info-header">Account Information</h1>
    <div class="form-group">
      <label for="name">Name:</label>
      <input
      required
      ngModel
      name="name"
      #name="ngModel"
      id="name"
      type="text"
      class="form-control"
      placeholder="Ex. Juan Dela Cruz"
      disabled>
    </div>
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
      <div *ngIf="name.errors?.required">Name is required.</div>
    </div>
    <div class="form-group">
      <label for="department">Department:</label>
      <input
      required
      ngModel
      name="department"
      #department="ngModel"
      id="department"
      type="text"
      class="form-control"
      placeholder="Ex. CICS"
      disabled>
    </div>
    <div class="alert alert-danger" *ngIf="department.touched && !department.valid">
      <div *ngIf="department.errors?.required">Department is required.</div>
    </div>
    <div class="form-group">
      <label for="program">Program:</label>
      <input
      required
      ngModel
      name="program"
      #program="ngModel"
      id="program"
      type="text"
      class="form-control"
      placeholder="Ex. BS-IT"
      disabled>
    </div>
    <div class="alert alert-danger" *ngIf="program.touched && !program.valid">
      <div *ngIf="program.errors?.required">Program is required.</div>
    </div>
    <div class="form-group">
      <label for="srcode">Sr-Code/ID Number:</label>
      <input
      required
      ngModel
      name="srcode"
      #srcode="ngModel"
      id="srcode"
      type="text"
      class="form-control"
      placeholder="Ex. 18-00000"
      disabled>
    </div>
    <div class="alert alert-danger" *ngIf="srcode.touched && !srcode.valid">
      <div *ngIf="srcode.errors?.required">Sr-Code is required.</div>
    </div>

    <div class="btn">
      <button class="update" mat-raised-button (click)="onCreate()">Update Profile</button>
    </div>
  </div>
</div>
